<!DOCTYPE html>
<html>
  <head>
    <title>Computers-Dev</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="custom-styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/mocha/mocha.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>

  <body style="margin: 20px">
    <h3>Desk Manager</h3>
    <h4 class="text-muted">Status Checker</h4>
    <br />

    <div class="row">
      <!-- COMPUTER CONTROLLER -->
      <div id="padded-box" class="col-sm-4 border border-secondary rounded">
        <div id="formBox">
          <h5>Add Computer</h5>

          <!-- Add Computer Form -->
          <div id="computer-form-box" class="border border-secondary rounded;">
            <form method="post" action="/add">
              <div class="form-group">
                <label for="addName">Name</label>
                <input
                  type="text"
                  name="addName"
                  class="form-control"
                  maxlength="10"
                  placeholder="Type here..."
                />
              </div>
              <div class="form-group">
                <label for="addStatus">Status</label>
                <select name="addStatus" class="form-control">
                  <option>Working</option>
                  <option>Not working</option>
                  <option>Scheduled for maintenance</option>
                  <option>N/A</option>
                </select>
              </div>
              <div class="form-group">
                <label for="addNotes">Notes</label>
                <input
                  type="text"
                  name="addNotes"
                  class="form-control"
                  placeholder="Type here..."
                />
              </div>
              <div class="form-group">
                <label for="addRoom">Room</label>
                <input
                  type="number"
                  name="addRoom"
                  class="form-control"
                  placeholder="Type here..."
                />
              </div>
              <input
                type="submit"
                id="btnComputerAdd"
                class="btn btn-primary"
                value="Confirm"
              />
            </form>
          </div>
        </div>

        <!-- Filter Room Form -->
        <div id="computer-form-box">
          <div id="formBox">
            <form method="post" action="/dcfilter">
              <div class="form-group">
                <label for="roomFilter">Room ID Filter</label>
                <input
                  type="text"
                  name="roomFilter"
                  class="form-control"
                  placeholder="Type here..."
                />
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" />
                <a href="/dc">Remove Filter</a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- COMPUTER TABLE -->
      <div id="padded-box" class="col-sm-4 border border-secondary rounded">
        <div id="table-overflow">
          <h6 id="txtRoomSel" style="color: green"></h6>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Computer ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Additional Information</th>
                <th>Room</th>
                <th>...</th>
              </tr>
            </thead>
            <tbody id="tblComputers">
              <% for (i = 0; i < computers.length; i++) { %>
              <tr>
                <td id="id"><%= computers[i]._id %></td>
                <td id="name"><%= computers[i].name %></td>
                <td id="status"><%= computers[i].status %></td>
                <td id="notes"><%= computers[i].notes %></td>
                <td id="roomid"><%= computers[i].room %></td>
                <td><button class="getPC" method="post">Update</button></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div id="padded-box" class="col-sm-4 border border-secondary rounded">
        <div id="formBox">
          <h5>Update Computer</h5>

          <!-- Update Room Form -->
          <div id="computer-form-box" class="border border-secondary rounded;">
            <form method="post" action="/update">
              <div class="form-group">
                <label for="searchId">Computer ID</label>
                <input
                  type="text"
                  name="searchId"
                  class="form-control"
                  id="txtId"
                />
              </div>
              <div class="form-group">
                <label for="searchName">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="searchName"
                  id="txtName"
                />
                <input
                  type="text"
                  name="updateName"
                  class="form-control"
                  maxlength="10"
                  placeholder="New value..."
                />
              </div>
              <div class="form-group">
                <label for="searchStatus">Status</label>
                <input
                  type="text"
                  id="txtStatus"
                  class="form-control"
                  disabled
                />
                <select name="updateStatus" class="form-control">
                  <option>Working</option>
                  <option>Not working</option>
                  <option>Scheduled for maintenance</option>
                  <option>N/A</option>
                </select>
              </div>
              <div class="form-group">
                <label for="searchNotes">Notes</label>
                <input
                  type="text"
                  id="txtNotes"
                  class="form-control"
                  disabled
                />
                <input
                  type="text"
                  name="updateNotes"
                  class="form-control"
                  placeholder="New value..."
                />
              </div>
              <div class="form-group">
                <label for="searchRoom">Room</label>
                <input
                  type="number"
                  id="txtRoomid"
                  class="form-control"
                  disabled
                />
                <input
                  type="number"
                  name="updateRoom"
                  class="form-control"
                  placeholder="New value..."
                />
              </div>
              <input
                type="submit"
                id="btnComputerUpdate"
                class="btn btn-warning"
                value="Update"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $(".getPC").click(function () {
          let row = $(this).closest("tr");
          let id = row.find("#id").text();
          let pcName = row.find("#name").text();
          let pcStatus = row.find("#status").text();
          let pcNotes = row.find("#notes").text();
          let pcRoomID = row.find("#roomid").text();

          $("#txtId").val(id);
          $("#txtName").val(pcName);
          $("#txtStatus").val(pcStatus);
          $("#txtNotes").val(pcNotes);
          $("#txtRoomid").val(pcRoomID);
        });

        $(window).ready(function () {});
      });
    </script>
  </body>
</html>
